@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

#app {
  font-family: Roboto;
}

@theme {
  --color-main: #1f5ca9;
  --color-app-secondary: #00afef;
  --color-text-primary: #213547;
}

.input,
.file-input,
.select,
.textarea {
  outline-offset: 0;
  outline-width: 0;
  outline-width: var(--width-3);
  outline-color: var(--color-sky-500);

  &:focus,
  &:focus-within {
    border-color: transparent;
  }
}