@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter, night;
  exclude: rootscrollgutter;
}

#app {
  font-family: Readex Pro;
}

.auth-appear {
  animation: appear 0.3s ease-out;
}

@keyframes appear {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(1);
  }
}
